@charset "UTF-8";
/* CSS Document */

body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑"; color:#aabad5; font-size:12px;}
.public_background{
	background:url(/busdemo/static/common/images/bg.jpg)  no-repeat/*rgba(0,16,31,1)*/;
	background-size:cover;
	background-color:#0C1732;
	}
a,a:hover,a:active,a:link{ text-decoration:none;}
a{outline:none;blr:expression(this.onFocus=this.blur());}
a:focus{ outline:none}
*{ margin:0; padding:0;}
ul,li{ list-style:none;}
iframe{border: 0;}
.se1{ color:#fe0000;}/*红 */
.se2{ color:#fe9900}/*橙 */
.se3{  color:#fed102}/*黄 */
.se4{ color:#99cc00}/*浅绿 */
.se5{  color:#008000}/*绿 畅通*/
.se6{color: #676767;}/*灰 离线*/
.se7{color: #23AC38;}/*绿 在线*/
.se8{color: #3185FF ;}/*蓝 总数*/
.se9{color:#00FF00}
.se10{color:#edfe00}
.bg1{background:#fe0000; color:#fff;}/*红 拥堵*/
.bg2{ background:#fe9900; color:#fff}/*橙 较拥堵*/
.bg3{ background:#fed102; color:#fff}/*黄 缓行*/
.bg4{ background:#99cc00; color:#fff}/*浅绿 基本畅通*/
.bg5{ background:#008000; color:#fff}/*绿 畅通*/
.bg6{background-color:rgba(8,23,47,0.3);}
.bg7{background-color:rgba(1,12,52,0.95);} /*抽屉底色*/
.bg8{background-color:rgba(5,40,245,0.90); color:#fff} /*抽屉把手色*/
.bg9{background-color:#000;}
.bg10{background-color: #676767;}
.bg11{ background-color: rgba(7,28,56,0.5); border: 1px solid rgba(34,81,137,0.5 );}
.bg12{background-color:rgba(1,9,52,0.70);}
.bg13{background-color:rgba(1,9,52,0.90);}
.title_sub{ position:absolute; left:50%; top:0; /*background:rgba(12, 24, 50, .7);*/ text-align:center; padding:10px; width:50%; margin-left:-25%;z-index:9999; transition: all .5s; margin-top: 50px; border-radius:5px;}
@media only screen and (max-width:1366px ) {
	.gj_title{font-size: 20px; margin: 10px; font-weight: bold;}
	
}
.ysmenu{ height:35px; line-height:35px; background:rgba(5,45,192,0.5); position:absolute; top:0; left:0; width:100%; z-index:99999; text-align:center} 
.ysmenu a{ font-size:16px; height:35px; line-height:35px; padding:0 10px; color:#CED7F8; display:inline-block; }
.ysmenu a:hover{ color:#fff; background:rgba(0,255,110,0.60);}
.fen{clear: both;height: 20px;}
/*****************************右侧收缩窗**********************************************************/
.shoushuo_window{ width:300px;  z-index:9999; position:absolute; right:0; transition:right 300ms;}
.shoushuo_window1{ width:300px;  z-index:9999; position:absolute; left:0; transition:left 300ms;}
.win_position1{ top:100px; height:300px}
.win_position2{ top:430px; height:200px}
.win_position3{ top:80px; height:220px}
.win_position4{ top:320px; height:260px}
.win_position5{ top:80px; height:520px}
.win_position6{ top:70px; height:470px}
.win_position7{ top:60px; height:480px}
.shoushuo_window_hidden{ right:-300px;}
.shoushuo_window1_hidden{ left:-300px;}
.shoushuo_window .win_title{ width:30px; height:auto; padding:10px;  z-index:9999; position:absolute; top:0px; left:-30px;cursor:pointer; display:block}
.shoushuo_window1 .win_title1{ width:30px; height:auto; padding:10px;  z-index:9999; position:absolute; top:0px; right:-30px;cursor:pointer; display:block}
/*框架布局*/
.chartwh{height:90%;  width:100%; }
.chart96{height:96%;  width:100%; }
.chartmy{height:100%;  width:100%; }
.chartwh90{height:80%;  width:80%; margin: 5% 0 0 5%; }
.chartcol2_90{height:60%;  width:100%; margin-top: 5%; }
.high_100{ height: 100%;}
.high_90{height:90%}
.high_80{height:80%}
.high_mt_80{height:90%; padding-top: 10%; max-height: 400px;}
.high_60{ height:60%}
.high_66{ height:66%}
.high_50{ height: 48%;}
.high_56{ height: 56%;}
.high_40{ height: 40%;}
.high_45{ height: 45%;}
.high_33{ height: 33.3%;}
.high_30{ height: 30%;}
.high_20{height:18%; overflow: hidden; margin-top: 2%;}
.high_10{height:8%;}
.high_18{height:20%;}
.high_12{height:12%;}
.high_16{height:16%;}
.high_22{height:22%;}
.high_25{height:23%;}
.high_75{height:77%;}
.high_95{ height:95%}
.high_88{ height:90%}
.high_95 h5{color:#3485ff;  font-weight:bold; position:relative;  font-size:16px; }
.high9_nei{ height:33%; overflow:hidden}
.progress {
    height: 10%;
    max-height: 10px;
    min-height: 5px;
    background-color: #0e192a;
}
@media only screen and (max-width:800px ) {
	body, html,#allmap {width: 100%;height: auto;overflow: visible;}
	.jwzqwz{bottom: -1630px;}
}
/******************************标题样式*****************************/
.lg-txt {
	width: 100%;
	position:absolute;
	bottom:14.5%;
	left: 50%;
	margin-left:-25%;
}
 .lg-txt .light{
	position:absolute;
	left:0px;
	width:180px;
	height:101px;
	z-index:556;
	background-image: -moz-linear-gradient(0deg,rgba(248,235,3,0),rgba(30,228,240,0),rgba(248,235,3,0));
	background-image: -webkit-linear-gradient(0deg,rgba(248,235,3,0),rgba(30,235,240,0),rgba(248,235,3,0));
	-moz-animation: lightword 4s infinite;
	-o-animation: lightword 4s infinite;
	-ms-animation: lightword 4s infinite;
	animation: lightword 4s infinite;
	opacity:0;
	border-radius:10px;
}
.lg-txt .light .faguang{
	position:absolute;
	left:0;
	z-index:999;
	top: -46px;
	width: 130%;
	height: 100%;
}
@-moz-keyframes lightword{
	0%{ left: -40px; opacity:0; }
	50%{opacity:1.5; }
	100%{left: 248px; opacity:0}
}
@-o-keyframes lightword{
	0%{ left: -40px; opacity:0; }
	50%{opacity:1.5; }
	100%{left: 248px; opacity:0}
}
@-ms-keyframes lightword{
	0%{ left: -40px; opacity:0; }
	50%{opacity:1.5; }
	100%{left: 248px; opacity:0}
}
@keyframes lightword{
	0%{ left: -40px; opacity:0; }
	50%{opacity:1.5; }
	100%{left: 248px; opacity:0}
}
.fen-title{
	z-index: 999;
	background: url(/busdemo/static/common/images/title.png) no-repeat;
	background-position: center center;
	margin-bottom:0.5%; 
	margin-top:0.5%;
}
.fen-title h2{ 
	margin-top:11px; 
	margin-bottom:13px; 
	font-size: 22px; 
	/*font-weight: bold;*/ 
    color:#fff;
    opacity: 0.8;
    font-family: '微软雅黑';
    /*letter-spacing:2px;*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(0, 255, 0)), to(rgb(35,127,56)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
 }
@media only screen and (max-width:1440px ) {
	.lg-txt .light .faguang{
		position:absolute;
		left:0;
		z-index:999;
		top: -46px;
		width: 75%;
		}
		.high_95 h5,.list_data h5, .dhbt_lvl{ font-size:14px; }
	    .title_sub{ position:absolute; top:0; left:57%; top:0; /*background:rgba(12, 24, 50, .7);*/ text-align:center; padding:10px; 		width:36%; margin-left:-25%;z-index:9999; transition: all .5s; margin-top: 60px; border-radius:5px; font-size: 18px; font-weight: 500;    }
	    .title_sub .lg-txt {
		width: 100%;
		position:absolute;
		bottom:14%;
		left: 50%;
		margin-left: -35%;
		}
		.fen{clear: both;height: 5px;}

}
@media only screen and (max-width:1024px ) {
	.lg-txt .light .faguang{
		position:absolute;
		left:0;
		z-index:999;
		top: -46px;
		width: 36%;
		}
}

/******************************主题皮肤*****************************/
.skin{display: none; }
.skin li{display: inline-block; width: 20px; height: 20px; margin-left: 15px;}
.skin li.skin1{ background: #0025B1;}
.skin li.skin2{ background: #000000;}
.skin li.skin3{ background: #FF0000;}
.skin li.skin4{ background: #009900;}
/******************************光圈子特效*****************************/
.gqz{
	width:100%;
}
.gqz h5{
	font-size:12px;
}

.gqz h1{
	font-size:30px;
	text-align: left;
}
.gqz p number{
	position: absolute;
	left: 0px;
	top:0px;
	height: 40%;
	padding-top: 10%;
	font-size: 30px;
	letter-spacing: -3px;
	margin-left: -3px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}
.gqz p em {
	position: absolute;
	bottom: 2px;
	left: 25%;
	width: 50%;
	font-size: 10px;
}
.gqz td{
	height:30px;
	text-align:center;
	vertical-align: top;
	cursor:default;
}
.guangyanzi{
	position:relative;
	margin: 0 auto;
	width: 70px;
	height: 70px;
 	border-radius: 35px;
 	text-align: center;
 	vertical-align: middle;
    -webkit-animation: btn_wave 3s infinite;
	-o-animation: btn_wave 3s infinite;
	-ms-animation: btn_wave 3s infinite;
	-moz-animation: btn_wave 3s infinite;
    animation: btn_wave 3s infinite;
    box-shadow: 0 0 0 0 #00D600;
    border:rgba(0,214,0,0.5) 5px double;
    background-color: rgba(0,214,0,0.3);
}
/*.b_green{
	border-:#00D600 5px solid;
}
.b_red{
	border:#FF0000 5px solid;
}*/
@-ms-keyframes btn_wave {
    0% {
        box-shadow: 0 0 0 0 #00D600
    }

    0%,90% {
        opacity: 1
    }

    to {
        box-shadow: 0 0 0 13pt rgba(255,255,255,0);
        opacity: 1
    }
}
@-o-keyframes btn_wave {
    0% {
        box-shadow: 0 0 0 0 #00D600
    }

    0%,90% {
        opacity: 1
    }

    to {
        box-shadow: 0 0 0 13pt rgba(255,255,255,0);
        opacity: 1
    }
}
@-webkit-keyframes btn_wave {
    0% {
        box-shadow: 0 0 0 0 #00D600
    }

    0%,90% {
        opacity: 1
    }

    to {
        box-shadow: 0 0 0 13pt rgba(255,255,255,0);
        opacity: 1
    }
}
@-moz-keyframes btn_wave {
    0% {
        box-shadow: 0 0 0 0 #00D600
    }

    0%,90% {
        opacity: 1
    }

    to {
        box-shadow: 0 0 0 13pt rgba(255,255,255,0);
        opacity: 1
    }
}

@keyframes btn_wave {
    0% {
        box-shadow: 0 0 0 0 #00D600
    }

    0%,90% {
        opacity: 1
    }

    to {
        box-shadow: 0 0 0 13pt rgba(255,255,255,0);
        opacity: 1
    }
}