#map_search {
	position: absolute;
	left: 20px;
	top: 80px;
	overflow: hidden;
	height: 80%;
}

#searchbox {
	overflow: hidden;
	border-radius: 2px;
	width: 425px;
	position: relative;
	z-index: 9999;
	margin-left:60px;
}

.searchbox {
	zoom: 1;
}

#searchbox #sear_con {
	position: relative;
	z-index: 999;
	width: 368px;
	float: left;
	box-sizing: border-box;
	/*box-shadow: 1px 2px 1px rgba(0, 0, 0, .15);*/
}

#searchbox_content {
	position: relative;
	border: 1px solid rgba(0, 0, 0, .15);
}

.searchbox-content {
	width: 368px;
	border-radius: 2px 0 0 2px;
	background: #fff;
}

#searchbox_content #posit {
	width: 368px;
	box-sizing: border-box;
	border: 0;
	padding: 9px 0;
	border-left: 10px solid transparent;
	border-right: 27px solid transparent;
	line-height: 20px;
	font-size: 16px;
	height: 37px;
	position: relative;
	border-radius: 2px 0 0 2px;
}

#searchbox #search-button {
	background: url(/busdemo/static/common/images/searchbox.png) no-repeat 0 -76px #3385ff;
	width: 57px;
	height: 39px;
	float: left;
	border: 0;
	padding: 0;
	cursor: pointer;
	border-radius: 0 2px 2px 0;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .15);
}

.poilist {
	padding: 5px 0 0;
    width: 368px;
    margin-top: 10px;
    margin-left: 60px;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    border-top:solid 1px rgba(0,0,0,.15);
    border-left:solid 1px rgba(0,0,0,.15);
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
    z-index: 9999;
}
.search-item{
	overflow: hidden;
	padding-bottom: 10px;
	padding-right: 10px;
}
.search-item .marker,.search-item .result{
	float: left;
}
.search-item .nam,.search-item .addr,.search-item .tel{
	margin-left: 8px;
	padding: 4px 0;
	line-height: 1.2;
	color: #666;
}

.search-item .nam span a{
	color: #3385ff;
}
.num-1{
	background-image: url(/busdemo/static/common/images/marker_map.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: 0 -139px;
}
.search-item:hover .num-1{
	background-image: url(/busdemo/static/common/images/marker_map.png);
	background-position: 0 -166px;
}
.num-2{
	background-image: url(/busdemo/static/common/images/marker_map.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -18px -139px;
}
.search-item:hover .num-2{
	background-image: url(/busdemo/static/common/images/marker_map.png);
	background-position: -18px -166px;
}
.num-3{
	background-image: url(/busdemo/static/common/images/marker_map.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
        background-position: -36px -139px;
}
.search-item:hover .num-3{
	background-image: url(/busdemo/static/common/images/marker_map.png);
	background-position: -36px -166px;
}

.num-4{
	background-image: url(/busdemo/static/common/images/marker_map.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -54px -139px;
}
.search-item:hover .num-4{
	background-image: url(/busdemo/static/common/images/marker_map.png);
	background-position: -54px -166px;
}

.num-5{
	background-image: url(/busdemo/static/common/images/marker_map.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -72px -139px;
}
.search-item:hover .num-5{
	background-image: url(/busdemo/static/common/images/marker_map.png);
	background-position: -72px -166px;
}
.num-6{
    background-image: url(/busdemo/static/common/images/marker_map.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -90px -139px;
}
.search-item:hover .num-6{
    background-image: url(/busdemo/static/common/images/marker_map.png);
    background-position: -90px -166px;
}

.poilist li .pagination > .active > a{
	color:#fff;
	background-color: #3385ff;
    border-color: #3385ff;
}
.poilist li .pagination > li > a{
	color:#3385ff;
}
.poilist li .pagination {
	margin: 10px 0;
}
.poilist .title_one{
	margin-bottom: 8px;
	padding-bottom: 7px;
	padding-top: 7px;
	background:#fffdcc;
}
.poilist .title_one label{
	margin-bottom: 0;
}
.poilist .title_one label input{
	margin-right: 10px;
}
.poilist li .sum {
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 6px;
	margin-left: 8px;
	color: #666;
	background:#fffdcc;
}

.poilist li .sum span{
	color: #3385ff;
	font-weight: bold;
	
}
/**********************默认搜索模块********************/
.default_module li{
	padding-left: 8px;
    width: 32%;
    overflow: hidden;
    height: 26px;
    margin-top: 8px;
    display: inline-block;
}
.default_module .sure_my{
	margin-left: 12px;
    height: 40px;
    width: 94%;
    border-top: dashed 1px #999;
    padding-top: 6px;
   
}
.default_module li a{
	cursor:pointer;
	color: #666;
}

.default_module li a span.active{
	color:#3385ff;
	}
.default_module{
	display: none;
	width: 368px;
    padding: 4px;
    background: #fff;
    border-left: solid 1px rgba(0,0,0,.15);
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    overflow: hidden;
    position: absolute;
    top: 42px;
    border-radius: 2px;
    z-index:9999;
    margin-left:60px;
}
.default_module span{
	display: inline-block;
	margin-top: -16px;
    vertical-align: middle;
}
.default_module .def1{
	background-image: url(/busdemo/static/common/images/searchbox_default.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: 0 -238px;
}
.default_module .def2{
	background-image: url(/busdemo/static/common/images/searchbox_default.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: -27px -238px;
}
.default_module .def3{
	background-image: url(/busdemo/static/common/images/searchbox_default.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: -27px -190px;
}

.default_module .def4{
	background-image: url(/busdemo/static/common/images/searchbox_default.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: -27px -214px;
}
.default_module .def5{
	background-image: url(/busdemo/static/common/images/searchbox_default.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: 0 -190px;
}

.default_module .def6{
	background-image: url(/busdemo/static/common/images/searchbox_default.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: 0 -214px;
}
.default_module .def1.active{
	background-image: url(/busdemo/static/common/images/searchbox.png);
    width: 24px;
    height: 24px;
    display: inline-block;
     background-position: 0 -238px;
}
.default_module .def2.active{
	background-image: url(/busdemo/static/common/images/searchbox.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: -27px -238px;
}
.default_module .def3.active{
	background-image: url(/busdemo/static/common/images/searchbox.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: -27px -190px;
}

.default_module .def4.active{
	background-image: url(/busdemo/static/common/images/searchbox.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: -27px -214px;
}
.default_module .def5.active{
	background-image: url(/busdemo/static/common/images/searchbox.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: 0 -190px;
}

.default_module .def6.active{
	background-image: url(/busdemo/static/common/images/searchbox.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: 0 -214px;
}

/**********地图操作按钮*************/
.map_tool {
	background-color: #fff;
	border-radius: 2px;
	color:#f5f3f0;
	position: absolute;
	right:24px;
	top: 80px;
    height: 34px;
    z-index: 5555;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    }
.map_tool ul, .map_tool ul li {
    position: relative;
	}
.map_tool ul{
	padding-left: 8px;
	padding-right: 8px;
}
.map_tool ul li {
    width: auto;
    height: 28px;
    display: inline-block;
    overflow: hidden;
    padding-right: 4px;
    padding-left: 4px;
    }
    .map_tool a{
    	line-height:34px;
    }
.map_tool i{
	float: left;
	vertical-align:middle;
	display: inline-block;
	height: 34px;
    width: 29px;
	}
.map_tool span{
	float: left;
	color: #666;
	display: inline-block;
    vertical-align: middle;
	}
.map_tool a:hover span{
	color: #579AFC;
	}
.map_tool .tool2 {
    background-image: url(/busdemo/static/common/images/newtools.png);
    background-repeat: no-repeat;
    background-position: 1px -114px;
    }
.map_tool .tool3 {
    background-image: url(/busdemo/static/common/images/newtools.png);
    background-repeat: no-repeat;
    background-position: -80px -117px;
    }
.map_tool .tool4{
    background-image: url(/busdemo/static/common/images/newtools.png);
    background-repeat: no-repeat;
    background-position: -80px -168px;
    }
.map_tool .tool5{
    background-image: url(/busdemo/static/common/images/newtools.png);
    background-repeat: no-repeat;
    background-position: -163px -117px;
    }
.map_tool a:hover .tool2 {
	background-position: 1px -49px;
	}
.map_tool a:hover .tool3 {
	background-position: -80px -49px;
	}
.map_tool a:hover .tool4  {
	background-position: -40px -168px;
	}
.map_tool a:hover .tool5  {
	background-position: -163px -51px;
	}
	li iframe{
		width: 112px;
		margin-top: -2px
	}
#map_modal{
	display: none;
    height: 70px;
    margin: 0px;
    padding: 10px;
    width: 394.25px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    top: 40px;
    background-color:#fff;
    padding: 0px 10px 10px 10px;
}
#map_modal .map_modal_title{
	height: 30px;
}
#map_modal .map_modal_title span{
	line-height: 30px;
}
#map_modal_btn{
	position: absolute;
    z-index: 9999;
    right: 10px;
    bottom: 10px;
}
.map_modal_title{
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.map_modal_title .ss_lk{
		color: #2b8ef0;
}
#map_modal{
	box-shadow: 1px 2px 1px rgba(0,0,0,.15);
	}
#map_modal .traffic-legend,#map_modal .traffic-content{
	float: left;
} 	
#map_modal .traffic-legend span{
	color: #fff;
	padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
	}
#map_modal .traffic-legend{
	margin-top: 9px;
}
#map_modal .traffic-content{
	margin-top: 12px;
	margin-left: 20px;
}
#map_modal .traffic-content span{
    padding-left: 8px;
}
#map_modal .traffic-content .update{
	cursor: pointer;
	margin-left: 6px;
	width: 14px;
	height: 14px;
   background: url(/busdemo/static/common/images/tools_menu.gif) no-repeat -12px -18px;;
}
.selected{
	position: absolute;
	top: 20%;
	left: 70%;
	width:500px;
	height: 500px;
	
}
.selected img{
	width: 100%;
	height: 100%;
}
.ensure{
	background-color: #3385ff;
	border: none;
}
/*清空输入框内容*/
.clear_content{
	cursor: pointer;
	position: absolute;
	right: 6px;
	top: 12px;
	background-image: url(/busdemo/static/common/images/searchbox.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -5px -125px;
    opacity: 0.8;
}
.clear_content:hover{
	opacity: 1;
}
/****地图各功能图标****/
.bus_icon1{
	position: absolute;
	width:25px;
	height:32px;
	background-image: url(/busdemo/static/common/images/icon_bus_parking.png);
}
.bus_icon2{
	position: absolute;
	width:25px;
	height:32px;
	background-image: url(/busdemo/static/common/images/icon_bus_refuel.png);
}
.bus_icon3{
	position: absolute;
	width:25px;
	height:32px;
	background-image: url(/busdemo/static/common/images/icon_bus_repair.png);
}
.bus_icon4{
	position: absolute;
	width:25px;
	height:32px;
	background-image: url(/busdemo/static/common/images/icon_bus_road.png);
}
.bus_icon5{
	position: absolute;
	width:25px;
	height:32px;
	background-image: url(/busdemo/static/common/images/icon_bus_sign.png);
}
.bus_icon6{
	position: absolute;
	width:25px;
	height:32px;
	background-image: url(/busdemo/static/common/images/icon_bus_stop.png);
}
.bus_icon{
	transition: .2 all;
}
.bus_icon:hover{
	transform:translateY(-5px);
}
@media only screen and (max-width: 1440px) {
	#searchbox {
		margin-left:10px;
	}
	.default_module{
	    margin-left:10px;
	}
	.poilist{
		margin-left:10px;
	}
}